/* Background */
html, body {
	background: url(../img/back_tisch.jpg) top left repeat;
	background-size: 767px 250px;
	line-height: 1.25em;
	}

/* Standards */
h1 {
	display: block;
	padding: 1em 0;
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 2px black;
	text-align: center;
}
h2 {display: none;}

/* nav */
nav {
	padding: 1em 0;
	position: fixed;
	bottom: 0; left: 0; right: 0;
	background-color: rgba(0,0,0,0.7);
}
	.centerWrap-child {
		text-align: center;
	}

/* Inhalt im StyleWrap */
.styleWrap {
	margin: 1em 0.5em;
}
.indexBox, .Werbung {
	text-align: center;
	padding: 0.5em 0.25em;
}
	.indexBox span {
		display: block;
		font-size: 0.75em;
	}
	#syncOpen {margin: auto auto 1em;}	

.content {
	padding-bottom: 5em;
}

/* PopUps */
#fadeBlack {background-color: rgba(0,0,0,0.9);}
.popUp {
	left: 0; right: 0;
	padding: 10px 5px;
	border-left: 0; border-radius: 0; border-right: 0;
	border-top-width: 1px;
}
.popUp h3 {
	line-height: normal;
	margin-left: 0.25em;
}
	.close a {
		top: -1.5em;
		bottom:	inherit; right: 0;
		width: 100%; height: inherit;
		border-radius: 0; border: 0;
		background-color: rgb(180,15,30);
		font-size: 30px; line-height: normal;
	}
	.popUp div:last-child{
	    text-align: center;
	}

/* temporär ausgeblendet */
#btn_refresh {display: none;}
#btn_slider {display: none;}