#fadeBlack { 
    position: fixed; top: 0; bottom: 0;
    left: 0; right: 0; z-index: 4;
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}
    #fadeBlack.show { 
        background-color: rgba(0,0,0,0.7);
    }

/*
===============================================================================
PopUp Fenster
===============================================================================
*/

li.inputs {
    padding-top: 0.75em; padding-bottom: 0.75em;
    margin: auto; margin-bottom: 10px;
    width: 5em;
}
li.inputs.saved {
    border-color: rgb(50,190,40);
}
li.inputs.changed {
    border-color: rgb(245,20,40);
}
li.edit {
    text-align: right;
}

.popUp {
        font-family: Helvetica, Arial;
        position: absolute; z-index: 5;
        right: 10%; left: 10%;
        margin: 0 auto; padding: 15px;
        border-radius: 5px; border: 2px solid #666;
        background-color: rgb(220,220,220);
        box-shadow: 1px 1px 10px 1px #000;
        -webkit-transform: translateY(-110%);
        -moz-transform: translateY(-110%);
        transform: translateY(-110%);
        -webkit-transition: -webkit-transform .2s linear;
        -moz-transition: -webkit-transform .2s linear;
        transition: -webkit-transform .2s linear;
    }
    .popUp h3 {
        font-size: 1.5em;
        font-weight: bold;
        }
    .popUp ul {
        margin: 15px 0;
        }
    .popUp li, li.inputs {
		display: block;
		margin-bottom: -1px;
		padding: 12px 10px;
		background-color: #FFF;
		color: #222;
		border: 1px solid #999999;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
        }
        .popUp li:first-child, li.inputs:first-child {
            border-top-left-radius: 8px;
		    border-top-right-radius: 8px;
        }
        .popUp li:last-child, li.inputs:last-child {
    		border-bottom-left-radius: 8px;
    		border-bottom-right-radius: 8px;
        }
        .popUp li span {
            font-size: 0.75em;
            font-weight: normal;
        }
        	.popUp li.edit span {
        		float: left;
        		width: 35%;
        		font-size: initial;
        		font-weight: bold;
        		}

            .popUp li ul li {
                list-style-type: circle;
                line-height: 1.5em;
            }
                .popUp li ul li {
                    display: list-item;
                    border: none;
                    padding: 0;
                    margin-left: 1.5em;
                }
    .popUp input[type="text"], .popUp input[type="number"], .popUp input[type="password"], li.inputs input {
        padding: 0 5px;
        margin: -7px; margin-right: 0;
        width: 96%;
        border: none;
        }
        .popUp input[type="number"] {
            width: 60%;
        }

    .popUp div:last-child {
        text-align: right;
        }
    .showPop {
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        transform: translateY(50px);/*status-bar-fix*/
        }


/*
===============================================================================
Hinzufügen (AddMenu)
===============================================================================
*/
/* Schüler */
#item1Add textarea, #item0Import textarea{
    padding: 5px;
    margin: -4px; margin-left: 0;
    height: 80px;
    width: 96%;
    border: none;
    background: white;
    font-size: 1em;
}
	#trennN {
	    border: 1px solid gray;
	    margin: 0 10px;
	    padding: 0.75em 5px;
	    border-radius: 5px;
	    width: 2em;
	}
    #trennZ {
        vertical-align: top;
        padding: 12px 5px; padding-right: 20px;
        margin: 0 10px;
    }

/* Leistungen */
input#notenDatum {
    width: 70%;
}

/*
===============================================================================
Eintragen / Editieren / Anzeigen
===============================================================================
*/
/* bei Leistungen */
#mitschreiberTrue:before {
    content: "N";
}
    #mitschreiberTrue:checked:before {
        content: "J";
    }

#ds_nach_Prozent, #ds_nach_Noten {
    padding: 2px 0;
    margin-left: 0;
    width: 50%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
}
	#ds_nach_Noten{color:rgb(81, 15, 15) !important;}
	#ds_nach_Prozent{color: rgb(208, 120, 120) !important;}

/* bei Schülern */
	#ds_gesamt_eingetragen {
	    position: absolute;
	    top: 3.8em; right: 2.5em; z-index: 10;
	}

/* Settingsmenü */
#item1setting_vorjahr ul li:last-child {text-align: center;}

/* -- Credenetials*/
#userID, #passW {
    font-weight: bold;
}

