.content{
	position: absolute;
	margin: 0 0 30px 150px;
	top: 75px; bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
}

#item1 .styleWrap, #item2 .styleWrap {
	position: absolute;
	top: 0; bottom: 0; right: 30px; left: 0;
	overflow-y:scroll; overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.uebersicht.show{display: block;}


/*Scroll-Bug-Fix*/
#list {
	-webkit-transform: translate3d(0%,0,0);
	-moz-transform: translate3d(0%,0,0);
	transform: translate3d(-0%,0,0);
}


.uebersicht {
	/* Style */
	position: fixed !important;
	top: 25px; /*status-bar-fix*/
	bottom: 0;
	width: 100%;
	overflow-x: hidden;

	display: none;

	/*
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-transition: right 0s linear 0.3s, -webkit-transform 1s;
	-moz-transition: right 0s linear 0.3s, -moz-transform 1s;
	transition: right 0s linear 0.3s, transform 1s;
	*/
}

	/* Startpositionen */
	.uebersicht.left {
		-webkit-transform: translate3d(-150%,0,0);
		-moz-transform: translate3d(-150%,0,0);
		transform: translate3d(-150%,0,0);
		}
		.uebersicht.bottom {
			-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			transform: translateY(100%);
			}

	/* Endposition */
	.uebersicht.bottom.show, .uebersicht.left.show {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
		}

	/* Dreh-Animation */
	.uebersicht.flip {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		transform: rotateY(180deg);
		right: -100%;
		}
		.uebersicht.flip.show {
			right: 0;
			-webkit-transform: rotateY(0deg);
			-moz-transform: rotateY(0deg);
			transform: rotateY(0deg);
			-webkit-transition: right 0s linear 0.25s, -webkit-transform 1s;
			-moz-transition: right 0s linear 0.25s, -webkit-transform 1s;
			transition: right 0s linear 0.25s, -webkit-transform 1s;
		}


/* Temporär */
html, body {
	background-color: green;
}
.content {
	background-color: red;
}
.uebersicht {
	background-color: silver;
}
#list{
	background-color: yellow;
}
.styleWrap {
	background-color: blue;
}
