* {margin: 0; padding: 0;}
html, body.white {
	background: white !important;
	overflow: auto !important;
	line-height: inherit !important;
	}
	body.json {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
	}

.styleWrap.export {
	padding: 20px !important;
	bottom: auto !important;
	height: auto !important;
}

.content {
	right: 10%;
	left: 10%;
	margin: 0;
}

section {
	margin: auto;
	page-break-after: always;
	page-break-inside: avoid;
	}
	section:last-of-type{padding: 0 0.1em !important;}
h1 {
	padding: 0;
	text-align: start;
	font-weight: 400;
	font-size: initial;
	text-shadow: none;
	color: black;
}
h1.sectionHead {
	margin: 1em 0;
	border-bottom: 2px solid grey;
	}
	.ersteseite h1.sectionHead {
		border-color: black;
		}
	h1.sectionHead span {
		float: right;
		color: grey;
		}
h2 {
	display: block;
	margin: 0.5em 0;
	font-family: 'sans-serif';
	font-size: 20px;
	}
p {margin: 1em 0;}
table {
	border-spacing: 10px 3px;
	table-layout:fixed;
	width:100%;
	}
	table.longTable { border-collapse: collapse; }
	thead td {
		border: none;
		text-align: center;
		}
		thead .namen {width: 210px;}
		thead .fspz, div .fspz, h2.fspz {color: #38AC92;}
		thead .mndl, div .mndl, h2.mndl {color: #3898A5;}
		thead .schr, div .schr, h2.schr {color: #FF9E53;}
		thead .rechnerisch {color: grey;}
	tbody td {
			padding: 1px 0;
			border: 2px solid black;
			text-align: center;
		}
		table.longTable td {
			padding-top: 2px; padding-bottom: 2px;
			border-width: 1px;
		}
		tbody .namen {
			text-align: right;
			padding-right: 5px;
			white-space: nowrap;
			overflow: hidden;
			}
		tbody .fspz {border-color: #38AC92;}
		tbody .mndl {border-color: #3898A5;}
		tbody .schr {border-color: #FF9E53;}
		tbody .rechnerisch {border-color: grey;}
		tbody .eingetragen {border: none;}
		tbody .komp {border-color: grey;}

	tab_gesamt thead .namen {width: 14em;}
	tab_gesamt tbody .namen {
		border:none; border-left: 4px solid silver;
		}

	table.tab_leistung, table.tab_allgemein {
		border-spacing: 0;
		border-collapse: collapse;
		}
		.tab_leistung thead td, .tab_allgemein thead td {
				font-weight: bold;
			}
		.tab_leistung tbody {
				border: 2px solid black;
			}
		.tab_leistung tbody td, .tab_allgemein td {
				padding-top: 4px;
				padding-bottom: 4px;
				border-width: 1px;
			}
	table.tab_allgemein thead .nummer {
		width: 5%;
		}
	.tab_allgemein thead .verteilungen {
		width: 33%;
		}
	.tab_allgemein thead .gewichtung {
		width: 5%;
		}
	div{
		margin-bottom: 2em;
		}
		div.nobreak {page-break-inside: avoid;}
		div.breaker {page-break-before: always;}
		.hide {display: none;}

#bezeichnung {
	font-size: 1em;
	font-style: italic;
	color: blue;
}

#fadeBlack, #fadeBlack div {
	margin: 0;
}

@media print {
	#fadeBlack {display: none !important;}
	.popUp {display: none !important;}
}