/* Background */
html, body {
	background: url(/img/back_tisch.jpg) top left repeat;
	background-size: 767px 250px;
	line-height: 1.25em;
	}

/* Standards */
h1 {
	display: block;
	padding: 1em 0;
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 2px black;
	text-align: center;
}
h2 {display: none;}


/*
===============================================================================
Header und Footer Leiste
===============================================================================
*/

/* nav */
nav {
	padding: 1em 0;
	position: fixed;
	bottom: 0; left: 0; right: 0;
	background-color: rgba(0,0,0,0.7);
}
	.centerWrap-child {
		text-align: center;
	}
/*
===============================================================================
Panels allgemein
===============================================================================
*/
.styleWrap {
	margin: 1em 0.5em;
}
.indexBox, .Werbung {
	text-align: center;
	padding: 0.5em 0.25em;
}
	.indexBox span {
		display: block;
		font-size: 0.75em;
	}
	#syncOpen {margin: auto auto 1em;}	

.content {
	padding-bottom: 5em;
}


/*
===============================================================================
PopUp Fenster
===============================================================================
*/
.popUp {
	left: 0; right: 0;
	padding: 10px 5px;
	border-left: 0; border-radius: 0; border-right: 0;
	border-top-width: 1px;
}
.popUp h3 {
	line-height: normal;
	margin-left: 0.25em;
}
	.close a {
		top: -1.5em;
		bottom:	inherit; right: 0;
		width: 100%; height: inherit;
		border-radius: 0; border: 0;
		background-color: rgb(180,15,30);
		font-size: 30px; line-height: normal;
	}
	.popUp div:last-child{
	    text-align: center;
	}

/*
===============================================================================
Buttons
===============================================================================
*/

select {
	display: block;
	margin: 1em auto;
	padding: 5px; padding-right: 20px;
	font-size: 0.8em;
	overflow: hidden;
	width: 90%;
}
.indexBox .button {
	display: block;
	width: 50%;
	margin: auto; margin-bottom: 1em;
	text-align: center;
}
#btn_Delete {
	padding: 1em 1.25em;
	margin-top: -0.5em; margin-bottom: -0.5em;
	color: black;
	border: 0;
	background: linear-gradient(to bottom, #FF5252 0%,#BB5252 47%,#FF5252 100%);
}
#btn_Add {
	padding: 1em 1.25em;
	margin-top: -0.5em; margin-bottom: -0.5em;
	color: black;
	font-weight: bold;
	border: 0;
	background: linear-gradient(to bottom, #52FF63 0%,#52BB63 47%,#52FF63 100%);
}
#export {
	padding: 1em 1.25em;
	margin-top: -0.5em; margin-bottom: -0.5em;
	color: black;
	border: 0;
	background: linear-gradient(to bottom, #BDBDBD 0%,#969696 47%,#BDBDBD 100%);
}
#btn_Back {
	padding: 1em 1.25em;
	margin-top: -0.5em; margin-bottom: -0.5em;
	color: black;
	font-weight: bold;
	border: 0;
	background: linear-gradient(to bottom, #FF5252 0%,#BB5252 47%,#FF5252 100%);
}
#btn_Settings {
	padding: 1em 1.25em;
	margin-top: -0.5em; margin-bottom: -0.5em;
	color: black;
	border: 0;
	background: linear-gradient(to bottom, #BDBDBD 0%,#969696 47%,#BDBDBD 100%);
}
.popUp .button {
	padding-left: 0; padding-right: 0;
	width: 20%;
	margin: 0 1%;
}