/* Background */
html, body {
	background: url(/img/back_tisch.jpg) top left repeat;
	background-size: 640px auto;
	line-height: 1.25em;
	}

/* Standards */
h1 {
	display: block;
	padding: 1em 0;
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 2px black;
	text-align: center;
}
h2 {display: none;}


/*
===============================================================================
Header und Footer Leiste
===============================================================================
*/
#header, nav{
	position: fixed;
	left: 0; right: 0;
	z-index: 3;
	text-align: center;
	height: auto;
	background-size: 390px auto;
	background: url(../img/back_tisch.jpg) top center;
	border-style: solid;
	border-color: #2c2c2c;
}

#header{
	top: 0;
	padding: 0.5em 0;
	/* box-shadow: inset 0 -15px 30px -15px #eeeeee, 0 0 10px 1px #2c2c2c; */
	box-shadow: inset 0 -20px 20px -20px #eeeeee, 0 0 10px 1px #2c2c2c;
	border-bottom-width: 1px;
}
	#header h1{
		float: none;
		padding: 0; margin: 0;
		font-size: 1.25em;
		line-height: 1.25em;
	}

/* nav */
nav {
	padding: 0;
	bottom: 0;
	/* box-shadow: inset 0 8px 30px -8px #eeeeee, 0 0 10px 1px #2c2c2c; */
	box-shadow: inset 0 20px 20px -20px #eeeeee, 0 0 10px 1px #2c2c2c;
	border-top-width: 1px;
	height: auto;
	width: 100%;
	text-align: center;
}
	nav .clearer {
		display: block;
		clear: both;
	}
	.centerWrap-child {
		width: 100%;
		text-align: center;
	}
/*
===============================================================================
Panels allgemein
===============================================================================
*/
.styleWrap {
    position: static !important;
	margin: 0 1em !important; padding: 0 0 !important;
}

    #item0 .styleWrap {overflow: visible !important;}

.indexBox {
    position: static;
    padding: 20px 10px;
	border-width: 0 0 1px 0;
	border-radius: 0;
	box-shadow: 0px 3px 2px -3px black;
	background: none;
    min-height: 100px;
}
	#item0 .indexBox:nth-child(3) {
		overflow: visible;
		border: none;
	}

.indexBox span {
    position: static;
	display: block;
	font-size: 0.75em;
	margin-top: 1em;
}
    .indexBox span:last-child::before {content: "( ";}
    .indexBox span:last-child::after {content: " )";}

.content {
	top: 0;
	margin: 0 0.5em;
	padding-bottom: 4.5em;
	border-style: solid;
	border-color: rgb(230,230,230);
	border-width: 0 2px 0 2px;
	background: rgba(226,226,226,0.7);
}

.uebersicht {
	top: 2.6em; /* padding + lineheight + border in header*/
}


/*
===============================================================================
PopUp Fenster
===============================================================================
*/
.popUp {
	left: 5%; right: 5%;
	padding: 4em 5px; padding-bottom: 0;
	background: transparent;
	box-shadow: none;
	border: none !important;
	/* 
	border-left: 0; border-radius: 8px; border-right: 0;
	border-top-width: 1px;
 	*/
	-webkit-transform: translateX(-110%);
	-moz-transform: translateX(-110%);
	transform: translateX(-110%);
}
	.popUp > .container {
		min-height: calc(100% - 10px - 1.5em - 4em - 1.5em - 1em); /* Summe aller Abstände aller Kinder */
	}
	.popUp h3 {
		line-height: normal;
		margin-left: 0.25em;
		color: #FFF;
	}
	
	.popUp input[type] {
		width: 100%;
		padding: 0.5em 10px;
		margin: 0px 0 0px -10px;
	}
		.popUp select {
			width: 100%;
			margin: 0.5em 0;
		}
		.popUp label {
			font-weight: normal;
			font-style: italic;
		}


	.close a {
		top: 10px; bottom: initial;
		right: 5px; left: 5px;
		padding: 0.75em 0;
		width: auto; height: inherit;
		line-height: normal;
		font-size: inherit;
		background: transparent;
		color: rgb(255, 0, 0);
		border: 2px solid rgb(255, 0, 0);
		border-width: 1px 1px 1px 1px;
		border-radius: 2em;
		box-shadow: none;
	}
	.popUp > div:last-child{
	    text-align: center;
		margin-top: 1.5em; margin-bottom: 1em;
	}

.showPop {
	top: 0;
	bottom: 0;
	overflow-x: auto;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}

/*
===============================================================================
Buttons
===============================================================================
*/

select {
	display: block;
	margin: 1em auto;
	padding: 10px 5px; padding-right: 20px;
	overflow: hidden;
	/*
	width: 90%;
	font-size: 0.8em;
	*/
}

.indexBox .button {
	display: block;
	text-align: center;
	width: 100% !important;
	margin-left: 0; margin-right: 0;
	padding-left: 0; padding-right: 0;
}

nav .button {
	float: none !important;
	display: inline-block;
	margin: 0 !important;
	padding: 1em 0;
	width: 24%;
	border: none !important;
	background: none !important;
    font-size: initial !important;
	font-weight: bold;
    color: #fff !important;
    text-shadow: 0 0 2px #000;
}
	nav .button:active {
		background: rgba(0,0,0,0.25) !important;
    	border-radius: 20px !important;
	}
	nav .selector, #btn_Back {
		position: static;
		padding: 0 !important;
		width: 24%;
		margin-bottom: -1em !important;
	}
		nav .selector .marker {
			position: static;
			display: block;
			background-image: url(/img/slider.png);
			background-color: transparent;
			border: none;
		}
		.selector .marker:active, .selector .marker:focus {background-image: url(/img/slider.png);}


#syncOpen {margin: auto auto 1em;}	

#btn_Back {
	background-image: url(/img/reload_button.gif) !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: contain !important;
	height: 4.5em;
}

#btn_Delete {
	/* background: linear-gradient(to bottom, #FF5252 0%,#BB5252 47%,#FF5252 100%); */
}
#btn_Add {
	/* background: linear-gradient(to bottom, #52FF63 0%,#52BB63 47%,#52FF63 100%); */
}
#export {
	/* background: linear-gradient(to bottom, #BDBDBD 0%,#969696 47%,#BDBDBD 100%); */
}
#import {
	/* background: linear-gradient(to bottom, #BDBDBD 0%,#969696 47%,#BDBDBD 100%); */
}
#btn_Settings {
	/* background: linear-gradient(to bottom, #BDBDBD 0%,#969696 47%,#BDBDBD 100%); */
}
.popUp .button {
	padding-left: 3%; padding-right: 3%;
	margin: 0 2%;
	background: transparent !important;
	border: 2px solid rgb(0,255,0);
	border-radius: 2em;
	color: rgb(0,255,0);
}

/*
===============================================================================
einzelne, spezielle Elemente
===============================================================================
*/
#fadeBlack.show {background-color: rgba(0,0,0,.8);}
#indexKlassen p{display: none;}
#AuthStatus h4 {display: none;}
#AuthStatus .statusText {
	margin-left: -1em;
	margin-right: -1em;
}

@media (max-height: 360px) and (min-width: 400px) and (orientation: landscape){

	#fadeBlack{
		display: block !important;
		color: white;
		background-color: rgba(0,0,0,.8);
	}
		#fadeBlack::before{
			content: "Querformat nicht möglich !";
			position: relative;
			display: block;
			top: 25%;
			text-align: center;
		}

	.content{display: none !important;}
	.popUp {display: none !important;}

}