/* Background */
html, body {
	background: url(/img/back_tisch.jpg) top left repeat;
	background-size: 640px auto;
	line-height: 1.25em;
	}

/* Standards */
h1 {
	display: block;
	padding: 1em 0;
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 2px black;
	text-align: center;
}
h2 {display: none;}
label {display: block !important;}

input[type=checkbox] {
	margin: 0 !important; padding: 0 !important;
	margin-top: -0.25em !important;
	width: 1.5em !important; height: 1.5em;
	float: right;
	font-size: 1.25em;
}
	input[type=checkbox]:before{
		font-size: 0.75em;
		display: block;
		line-height: 2em;
	}
/*
===============================================================================
Header und Footer Leiste
===============================================================================
*/
#header, nav{
	position: fixed;
	left: 0; right: 0;
	z-index: 3;
	text-align: center;
	height: auto;
	background-size: 390px auto;
	background: url(../img/back_tisch.jpg) top center;
	border-style: solid;
	border-color: #2c2c2c;
}

#header{
	top: 0;
	padding: 0.5em 0; padding-top: 20px;
	box-shadow: inset 0 -20px 20px -20px #eeeeee, 0 0 10px 1px #2c2c2c;
	border-bottom-width: 1px;
}
	#header h1{
		float: none;
		padding: 0 3%; margin: 0;
		font-size: 1.25em;
		line-height: 1.25em;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

/* nav */
nav {
	padding: 0;
	bottom: 0;
	box-shadow: inset 0 20px 20px -20px #eeeeee, 0 0 10px 1px #2c2c2c;
	border-top-width: 1px;
	width: 100%;
	text-align: center;
}
	nav .clearer {
		display: block;
		clear: both;
	}
	.centerWrap-child {
		width: 100%;
		text-align: center;
	}
/*
===============================================================================
Panels allgemein
===============================================================================
*/
.styleWrap {
    position: static !important;
	margin: 0 !important; padding: 1em !important;
	border: none;
	background: none;
	overflow-y: auto !important;
}

    #item0 .styleWrap {overflow: visible !important;}

.indexBox {
	position: static;
	padding: 20px 10px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-radius: 0;
	box-shadow: 0px 3px 2px -3px black;
	background: none;
	min-height: 100px;
}
	#item0 .indexBox:nth-child(1) {padding-top: 0;}
	#item0 .indexBox:nth-child(3) {
		overflow: visible;
		border: none;
		box-shadow: none;
	}

.indexBox span {
    position: static;
	display: block;
	font-size: 0.75em;
	margin-top: 1em;
}
    .indexBox span:last-child::before {content: "( ";}
    .indexBox span:last-child::after {content: " )";}

.content {
	top: 0;
	margin: 0 0.5em;
	padding-bottom: 4.5em;
	border-style: dashed;
	border-color: #2f4f4f;
	border-width: 0 1px 0 1px;
    background: rgba(170, 170, 170, 0.66);
}

.uebersicht {
	top: 2.6em; /* padding + lineheight + border in header*/
}


/*
===============================================================================
PopUp Fenster
===============================================================================
*/
.popUp {
	top: 20px;
	left: 5%; right: 5%;
	padding: 4em 5px; padding-bottom: 0;
	background: transparent;
	box-shadow: none;
	border: none !important;
	-webkit-transform: translateX(-110%);
	-moz-transform: translateX(-110%);
	transform: translateX(-110%);
}
	.popUp > .container {
		min-height: calc(100% - 10px - 1.5em - 4em - 1.5em - 1em); /* Summe aller Abstände aller Kinder */
	}
	.popUp h3 {
		line-height: normal;
		margin-left: 0.25em;
		color: #FFF;
	}
	
	.popUp input[type] {
		width: 100%;
		padding: 0.5em 10px;
		margin: 0px 0 0px -10px;
	}
		.popUp select {
			width: 100%;
			margin: 0.5em 0 !important;
		}
		.popUp label, li.edit span {
			display: block;
			font-weight: normal !important;
			font-style: italic;
		}

		.popUp li.edit {
			padding-left: 0;
			padding-right: 0;
		}
			.popUp li.edit span {
				display: inline-block;
				width: auto;
				float: none;
				padding: 0.5em 0;
			}
			.popUp li.edit input[type]{
				width: auto;
				margin: 0;
				padding: 0.5em 0;
			}


	.close a {
		top: 10px; bottom: initial;
		right: 5px; left: 5px;
		padding: 0.75em 0;
		width: auto; height: inherit;
		line-height: normal;
		font-size: inherit;
		background: transparent;
		color: rgb(255, 0, 0);
		border: 2px solid rgb(255, 0, 0);
		border-width: 1px 1px 1px 1px;
		border-radius: 2em;
		box-shadow: none;
	}
	.popUp > div:last-child{
	    text-align: center;
		margin-top: 1.5em; margin-bottom: 1em;
	}

.showPop {
	bottom: 0;
	overflow-x: auto;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}

/*
===============================================================================
Buttons
===============================================================================
*/

select {
	display: block;
	margin: 1em auto;
	padding: 10px 5px; padding-right: 20px;
	overflow: hidden;
	/*
	width: 90%;
	font-size: 0.8em;
	*/
}

.indexBox .button {
	display: block;
	text-align: center;
	width: 100% !important;
	margin-left: 0; margin-right: 0;
	padding-left: 0; padding-right: 0;
}
	.indexBox .button + br {display: none;}

nav .button {
	float: none !important;
	display: inline-block;
	margin: 0 !important;
	padding: 0.5em 0;
	width: 25%;
	border: none !important;
	background: none !important;
    font-size: initial !important;
	font-weight: bold;
    color: #fff !important;
    text-shadow: 0 0 2px #000;
}
	nav .button:active {
		background: rgba(0,0,0,0.25) !important;
    	border-radius: 20px !important;
	}
	nav .button img {width: 1.5em;}
	nav .double .button {width: 50%;}
	nav .tripple .button {width: 33%;}

nav #selector {
	position: static;
	width: 24%;
}
	nav #selector .marker {
		position: static;
		display: inline-block;
		padding: 10px;
		width: 25px;
		height: 25px;
		border: none;
		border-radius: 25px;
		background-image: url(/img/mobile/switch.png);
		background-color: #007ecb;
	    box-shadow: 0 0 3px black;
	    background-size: 25px 25px;
	}
	#selector .marker:active, #selector .marker:focus {
		background-image: url(/img/mobile/switch.png); /* Hintergrund bei Click nicht ändern */
	}


#syncOpen {margin: auto auto 1em;}	

#btn_Back {}
	#btn_Back img {
		padding: 10px;
		width: 25px;
		height: 25px;
		border-radius: 25px;
		background-color: red !important;
		box-shadow: 0 0 3px black;
	}
/*
#btn_Back {
	background-image: url(/img/poweroff.png) !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: contain !important;
	height: 1em;
	margin-bottom: -0.5em !important;
}
*/

.popUp .button {
	padding-left: 3%; padding-right: 3%;
	margin: 0 2%;
	background: transparent !important;
	border: 2px solid rgb(0,255,0);
	border-radius: 2em;
	color: rgb(0,255,0);
}
	.popUp .button, .close a {
		-webkit-transition: background-color 0.3s ease-in-out;
		-moz-transition: background-color 0.3s ease-in-out;
		-o-transition: background-color 0.3s ease-in-out; 
		transition: background-color 0.3s ease-in-out;
}
	}
	.popUp .button:active { background-color: rgb(0,255,0) !important; }
	.close a:active { background-color: rgb(255, 0, 0) !important; }


/*
===============================================================================
Index
===============================================================================
*/
#indexKlassen p{display: none;}
#AuthStatus h4 {display: none;}
#AuthStatus .statusText {
	margin-left: -1em;
	margin-right: -1em;
}

/*
===============================================================================
Settings
===============================================================================
*/
#item1setting_gruppen .styleWrap {
	padding-top: 62px !important;
	margin-top: 1em !important;
}
	#item1setting_gruppen .s_flag {
		margin: auto !important;
		margin-right: 1em !important;
	}

#form_Notenverteilung label {
	display: inline-block;
	margin-left: 0;
}
#form_KompNamen label, #form_Gewichtung label {
	display: block;
	width: 100%;
	margin-left: 0;
}
#form_KompNamen input, #form_Notenverteilung input {width: auto;}

#form_Gewichtung {
	text-align: right !important;
	width: auto;
	padding-right: 10px;
}
#form_Gewichtung input {
    width: 33%;
    display: inline-block;
	margin: auto;
}
#alle_gruppieren {
	margin-top: 0.5em !important;
	text-align: center;
}
	#alle_gruppieren .button {
		display: block;
		margin: 0;
	}

.gruppierer-container {
	/*siehe #NotenListe_Arbeit*/
	padding: 10px 5px;
/* 	text-align: center; */
}
	.gruppierer-container::before{
		content: "Zuweisen:";
		float: left;
		padding: 10px;
		color: #fff;
		font-size: 1em;
		line-height: 1.25em;
	}
#gruppierer {
	/* siehe #NotenListe_Arbeit select */
	position: static;
	float: right;
}
/*
===============================================================================
Uebersicht
===============================================================================
*/
#item1Add textarea, #item0Import textarea {
	height: 200px;
}
.trennzeichen {
	text-align: center !important;
	float: none !important;
}
#rangeWert{
	display: block;
	text-align: center;
}
div.s_flag {
	float: right;
	padding: 10px !important;
	margin: -16px -8px 0 0 !important;
	width: auto !important; height: auto !important;
}

#listLeistung ul li, #listStudents ul li {padding: 1em;}
#listLeistung ul li {text-align: left;}

#listStudents ul li div {
	padding: 0;
	margin: 0; margin-right: 5%;
	width: 20%;
}
#listLeistung ul li div {
	padding: 0;
	margin: auto;
}
	#listLeistung ul li .name, #listStudents ul li .name, #item1details li span:first-child {
		position: static;
		display: block;
		width: auto;
		padding: 0;
		padding-bottom: 1em;
		text-align: left;
	}
		#listLeistung ul li .name, #item1details li span:first-child {font-style: italic;}

	#listLeistung li div:nth-child(3), #item1details li div:nth-child(3) {
		width: 25%;
	}
	#listLeistung ul li .gewichtung, #item1details li .gewichtung {
		width: 10%;
		margin: 0;
	}
	#listLeistung ul li .tools.right, #listStudents ul li .tools.right {display: none;}

	#listLeistung ul li div:nth-child(2) {
		text-align: left;
		width: auto;
	}


/*
===============================================================================
Studentdetails
===============================================================================
*/
#studentInfo h3 {padding-left: 0.5em !important;}
#ds_gesamt_eingetragen {
	margin-left: 1em;
	margin-top: calc(-2em - 4px);
	z-index: inherit;
}
#item1_gewichtung {height: 4em;}
#item1_gewichtung div {height: 2.5em;}

#item1details ul li {
	padding: 0.75em;
}
	#item1details ul li:last-of-type {margin-bottom: initial;}
	#item1details ul li .gewichtung, #item1details ul li .lupe {margin-top: -32px}
	#item1details ul li .gewichtung {
		float: right; margin-right: 32px;
	}
		/*#item1details .fspz_div ul li .gewichtung, #item1details .fspz_div ul li .lupe {margin-top: -16px}*/
	#item1details ul li span:nth-child(2) {
		text-align: left;
		width: 50%;
	}

#differenzierteLeistung div.Kategorien {
	margin: 0.5em 5% 0 0 !important;
	width: 45%;
}
	#differenzierteLeistung div.Kategorien:nth-child(2),
	#differenzierteLeistung div.Kategorien:nth-child(4) {
		margin-right: 0 !important;
	}



/*
===============================================================================
Leistungsdetails
===============================================================================
*/
.styleWrap.arbeit_leistung{
	padding: 1em 0 !important;
	padding-top: 62px !important; /* Summe der Paddings, Border und LineHeight */
	margin: 0 1em !important;
    margin-bottom: 0 !important;
    margin-top: 1em !important;
	border: 2px solid rgb(230, 230, 230);
	border-width: 0 0 2px 0;
	border-radius: 0;
	box-shadow: 0px 3px 2px -3px black;
}
	.Note.standalone{
		margin: -8px 0px !important;
		padding: 16px 8px !important;
		width: auto !important;
	}
	.rohpunkte .styleWrap.arbeit_leistung{padding-top: 393px !important;} /* Summe der Verteilungsbox + 20px */

	#arbeit_leistung {position: static;}
	.rohpunkte #arbeit_leistung {
		padding-top: 1em;
		border: 2px solid rgb(230, 230, 230);
		border-width: 2px 0 0 0;
		border-radius: 0;
		box-shadow: 0px -3px 2px -3px black;
	}


	.rohpunkte #arbeit_leistung ul li div {padding: 0 !important; margin: 0 !important;}
	.rohpunkte #arbeit_leistung ul li .Name {
		display: block;
		float: none;
		margin-bottom: 0.5em !important;
		padding-bottom: 0.3em !important;
		width: auto;
		border-bottom: 1px solid silver;
	}
	.rohpunkte #arbeit_leistung ul li .Kategorien {
		margin-right: 4% !important;
		width: 22% !important;
		border: none;
		color: rgb(90,90,90);
	}
	.rohpunkte #arbeit_leistung ul li .Kategorien:nth-child(5) {margin-right: 0 !important;}
	.rohpunkte #arbeit_leistung ul li .Kategorien:nth-child(6) {
		float: right;
		margin-right: 26% !important;
	}
	.rohpunkte #arbeit_leistung ul li .Note {
		margin: 0 !important;
		width: 22%;
	}
		.rohpunkte #arbeit_leistung ul li .Kategorien:nth-child(6), .rohpunkte #arbeit_leistung ul li .Note {
			position: absolute;
			top: 6px;
			right: 3px;
			color: black;
		}

		.rohpunkte #arbeit_leistung ul li .Note * {width: auto;}



.styleWrap.arbeit_info{
	padding-top: 0 !important;
	padding-bottom: 2em !important;
	width: auto !important;
}
	#NotenListe_Arbeit, .gruppierer-container {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		border: 1px solid black !important;
		border-width: 0 0 1px 0 !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		/* von: #item2deatils li.selected (main.css) */
		background-image: -moz-linear-gradient(0deg, #464646 0%,#646464 100%);
		background-image: -webkit-linear-gradient(0deg, #464646 0%,#646464 100%);
		background-image: linear-gradient(0deg, #464646 0%,#646464 100%);
	}
		#NotenListe_Arbeit > *{
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		#NotenListe_Arbeit select, #NotenListe_Arbeit li, #NotenListe_Arbeit .button, #gruppierer {
			display: inline-block !important;
			margin-top: 0 !important; margin-bottom: 0 !important;
			padding-top: 10px !important; padding-bottom: 10px !important;
			line-height: 20px !important;
		}
		#NotenListe_Arbeit > p {
			padding: 10px;
			float: left;
			color: white;
		}
		.punkte #NotenListe_Arbeit > p {display: none;}
		#NotenListe_Arbeit > label {float: right;}
		#NotenListe_Arbeit > div {float: left;}
		#NotenListe_Arbeit a.button.OK {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		#NotenListe_Arbeit ul {float: left; margin-bottom: 0;}
		#NotenListe_Arbeit li {
			padding-top: 0 !important; padding-bottom: 0 !important;
			border-top-right-radius: 0; border-bottom-right-radius: 0;
		}
		#keyMax {line-height: 20px; padding: 10px 0 !important;}

#item2Stats li.edit {text-align: center;}
#item2Stats li.diagramm {overflow-x: scroll;}

#item2_info_Verteilung {
	position: absolute;
	top: 1em;
	right: 1em;
	left: 1em;
}
	#item2_info_Verteilung select {width: 90%;}
/*
===============================================================================
einzelne, spezielle Elemente
===============================================================================
*/
#fadeBlack.show {background-color: rgba(0,0,0,.8);}

@media (min-aspect-ratio: 5/6) {

	nav {display: none !important;} /* Soft-Keyboard PopUp */

}

@media (max-height: 360px) and (min-width: 400px) and (orientation: landscape){

	#fadeBlack{
		display: block !important;
		color: white;
		background-color: rgba(0,0,0,.8);
	}
		#fadeBlack::before{
			content: "Querformat nicht möglich !";
			position: relative;
			display: block;
			top: 25%;
			text-align: center;
			color: silver;
		}

	.content{display: none !important;}
	.popUp {display: none !important;}

}
